.mainContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(209, 214, 221, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
}

.content {
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #00add7;
  color: white;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  font-size: 24px;
}

.headerText {
  display: flex;
  justify-content: center;
  width: 190px;
}

/* Chevron from https://codepen.io/jonneal/pen/kptBs */
.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  transform: rotate(-45deg);
  width: 0.45em;
  color: white;
}

.chevronRight:before {
  left: -0.15em;
  transform: rotate(45deg);
}

.chevronLeft:before {
  left: 0.15em;
  transform: rotate(-135deg);
}

.left {
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px;
}

.left:hover {
  transform: scale(1.1);
}

.right {
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
}

.right:hover {
  transform: scale(1.1);
}

.abbrContent {
  display: flex;
  height: 60px;
  flex: 0 0 auto;
}

.abbr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1 0 100px;
}

.dayContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 100px;
  height: 100px;
}

.dayOutOfMonth {
  background-color: rgba(209, 214, 221, 0.5);
}

.day {
  color: black;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day:hover {
  cursor: pointer;
  background-color: rgba(39, 46, 57, 0.1);
}

.dayCurrent {
  color: #00add7;
}

.daySelected {
  color: white;
  background-color: #00add7;
}

.daySelected:hover {
  color: white;
  background-color: #00add7;
}

.hasAppointment {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 25%;
  background-color: #3fd83f;
}

.weekContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0 auto;
  background-color: white;
  border-left: 1px solid rgba(39, 46, 57, 0.5);
  border-right: 1px solid rgba(39, 46, 57, 0.5);
}

.weekContent {
  width: 100%;
  flex: 1 0 100px;
  display: flex;
  align-items: stretch;
}

.plus {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plus:hover {
  transform: scale(1.1);
}
